@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.left-side-caption {
  position: absolute;
  left: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: #cd2400;
  display: flex;
  margin-left: 20px;
}
.left-side-caption:first-child {
  margin-bottom: 85px;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
 /* 
  .terminal {
    border: 2px solid purple;
    padding: 20px;
    border-radius: 5px;
  }
  
  .line {
    margin-bottom: 8px;
    animation: distortText 6s infinite;
  }
*/
  .right-side-image {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
  }

  .bottom-left-text {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-family: 'Courier New', monospace;
    font-size: 10px;
    color: #cd2400;
  }
  
  .line-2 {
    opacity: 0;
  }
  
  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }